.homeWrapper {
  margin-top: 1.5rem;
  &-title {
    color: white;
    margin-top: 7rem;
  }
  &-desc {
    color: white;
    margin-top: 3rem;
    width: 60%;
  }
  &-buttons {
    margin-top: 3rem;
  }
  &-image {
    img {
      width: 100%;
      border-radius: 4px;
    }
  }
  &-social {
    color: #acacac;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        margin-bottom: 1.3rem;
      }
      .socialLine {
        height: 5rem;
        width: 0.1rem;
        background: rgb(255, 255, 255);
      }
      .scroll {
        writing-mode: vertical-rl;
        letter-spacing: 8px;
      }
    }
  }
}

//skills section

.skillsHolder {
  background: #242526;
  margin-top: 5rem;
  padding: 1.5rem;
  // &-title {
  //   text-align: center;
  //   padding: 2rem;
  //   color: white;
  // }
  img {
  }
}

//worksWrapper

.worksWrapper {
  color: white;
  margin-top: 8rem;
  &-title {
    text-align: center;
    margin-bottom: 4rem;
  }

  .cardsHolder {
    background: #242526;
    margin-bottom: 5rem;
    padding: 2rem;
    &-pills {
      span {
        background: #151616;
        padding: 0.7rem;
        text-transform: uppercase;
      }
    }

    &-desc {
      margin-top: 3rem;

      &-paragraph {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}

footer {
  background: #151616;
  color: rgb(167, 167, 167);
  .footerWrapper {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
}

//contace

.contactHolder {
  color: white;
  margin-top: 1rem;
  margin-bottom: 5rem;

  .formWrapper {
    padding: 1rem;
    background: rgb(29, 29, 29);
    border-radius: 4px;

    p {
      margin: 2rem 0;
    }

    .form-control {
      background-color: #242526 !important;
      color: white !important;
    }
  }
}
